## This notebook ONLY does the data checks - it is a utility for just re-running that section of the code.

In [3]:
#PC: 
database_dir = r"E:\TriNetX\\"   # Location where the database files are stored 
working_dir = r"C:\Users\reblo\Box\Residency Personal Files\Scholarly Work\Locke Research Projects\TriNetX Code\Hypercapnia TriNetX CSV Processing\Working\\" #location where to read and right from (faster = better if space allows)

#Mac 
#database_dir = r"/Volumes/LOCKE STUDY/TriNetX"   # Location where the database files are stored 
#working_dir = r"/Users/blocke/TriNetX Working/"

# These are commented out as they are handed to the master script
# AMBULATORY, EMERGENCY, or INPATIENT
output_dirs = ["AMBULATORY", "EMERGENCY", "INPATIENT"]

#"AMB" "EMER" or "INPAT" - or comment out if calling externally
settings = ["AMB", "EMER", "INPAT"] 

#ABG, VBG, OBESITY, PREDISPOSITION, RESPFAIL, VENTSUPPORT
rfss = ["ABG", "VBG", "OBESITY", "PREDISPOSITION", "RESPFAIL", "VENTSUPPORT"]

In [4]:
import time
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from datetime import datetime
import gc

#Create an output directory if it's not already there
for output_dir in output_dirs: 
    os.makedirs(os.path.join(working_dir[:-1], "output", output_dir), exist_ok=True)

In [9]:
def data_check(output_dir, setting, rfs):
    start_time = time.time()
    print(f"Executing {output_dir}, {setting}, and {rfs}.")
    RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))
    # Filter out patients who did not pass the data quality check
    if setting == "AMB":
        new_OP_data_quality_check_FINAL_patients = list(pd.read_csv(os.path.join(working_dir[:-1], "data_checks", "amb_enc_screen.csv"))["encounter_id"])
        print("Number of Unique Encounters in OP Filter:", len(new_OP_data_quality_check_FINAL_patients))
        print("Prefilter: ")
        print(RFS_ABG_ENC_AMB_BEFORE.shape)
        RFS_ABG_ENC_AMB_BEFORE = RFS_ABG_ENC_AMB_BEFORE[RFS_ABG_ENC_AMB_BEFORE["encounter_id"].isin(new_OP_data_quality_check_FINAL_patients)]
    else: 
        new_IP_data_quality_check_FINAL_patients = list(pd.read_csv(os.path.join(working_dir[:-1], "data_checks", "inp_enc_screen.csv"))["encounter_id"])

        #new_IP_data_quality_check_FINAL_patients = list(set(unique_vs_encounters) & set(unique_diag_encounters) & set(unique_med_encounters) & set(unique_proc_encounters) & set(unique_lab_encounters))
        print("Number of Unique Encounters in IP Filter:", len(new_IP_data_quality_check_FINAL_patients))
        print("Prefilter: ")
        print(RFS_ABG_ENC_AMB_BEFORE.shape)
        RFS_ABG_ENC_AMB_BEFORE = RFS_ABG_ENC_AMB_BEFORE[RFS_ABG_ENC_AMB_BEFORE["encounter_id"].isin(new_IP_data_quality_check_FINAL_patients)]

    print("\n")
    display(RFS_ABG_ENC_AMB_BEFORE.head())
    print(RFS_ABG_ENC_AMB_BEFORE.shape)
    print(RFS_ABG_ENC_AMB_BEFORE.isna().sum().sum())

    RFS_ABG_ENC_AMB_BEFORE.to_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_AFTER.csv"), index = False) 

    end_time = time.time()
    execution_time = end_time - start_time
    hours = int(execution_time // 3600)
    minutes = int((execution_time % 3600) // 60)
    seconds = execution_time % 60
    print(f"Executed in {hours} hours, {minutes} minutes, and {seconds:.2f} seconds.")
    gc.collect()

## Ambulatory

In [13]:
#test 

data_check(output_dirs[0], settings[0], rfss[0])
data_check(output_dirs[0], settings[0], rfss[1])
data_check(output_dirs[0], settings[0], rfss[2])
data_check(output_dirs[0], settings[0], rfss[3])
data_check(output_dirs[0], settings[0], rfss[4])
data_check(output_dirs[0], settings[0], rfss[5])

"""
for rfs in rfss:
    print(f"Executing {output_dirs[0]}, {settings[0]}, and {rfs}.")
    data_check(output_dirs[0], settings[0], rfs)
"""

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (96,108,133,143,150,151,152,153,157,165,169,175,179,183,187,189,191,193,197,203,205,207,211,215,217,219,221,223,227,235,239,243,245,253,257,267,269,271,273,275,318,319,324,325,330,331,336,337,339,340,345,346,387,388,417,418,470,471,473,474,488,489,491,492,500,501,509,511) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(11099, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,wg23B,zQCJNC,AMB,ABG,2022-01-01,0,2,2,,3,...,NaN,0,NaN,NaN,1,2018-10-26,2018-10-26,0,NaN,NaN
1,mgCOC,pgqEsB,AMB,ABG,2022-01-01,1,0,0,,1,...,NaN,0,NaN,NaN,1,2021-05-05,2021-05-10,0,NaN,NaN
7,iAhvB,lwb2gV,AMB,ABG,2022-01-01,0,0,0,,2,...,NaN,1,2003-09-21,2003-09-21,1,2003-11-18,2003-11-18,1,2014-05-26,2014-05-26
8,iAHP,lQf2kK,AMB,ABG,2022-01-01,1,0,0,,2,...,NaN,0,NaN,NaN,1,1999-04-12,1999-04-12,0,NaN,NaN
9,hgDUE,kQVOuF,AMB,ABG,2022-01-01,1,0,0,,2,...,NaN,0,NaN,NaN,1,2017-12-14,2017-12-16,0,NaN,NaN

(8326, 534)
2248748
Executed in 0 hours, 0 minutes, and 13.25 seconds.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (133,138,143,150,151,152,153,159,165,169,171,179,183,187,189,191,193,197,203,205,207,211,215,217,219,223,227,229,235,243,247,257,269,273,321,322,324,325,327,328,330,331,336,337,339,340,345,346,387,388,396,397,405,406,417,418,470,471,473,474,482,483,488,489,500,501,509,511) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(11005, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,wg23B,zQCJNC,AMB,VBG,2022-01-01,0,2,2,,3,...,NaN,0,NaN,NaN,1,2018-10-26,2018-10-26,0,NaN,NaN
3,hADb,kQLLOP,AMB,VBG,2022-01-01,1,1,0,,2,...,NaN,0,NaN,NaN,1,2021-08-03,2021-08-03,0,NaN,NaN
4,eAN_C,hQ98eC,AMB,VBG,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
5,Jxy7B,MhYSJU,AMB,VBG,2022-01-01,0,0,2,,1,...,NaN,0,NaN,NaN,1,2017-01-03,2017-01-03,1,2016-02-22,2016-02-22
6,JxmeC,MBMbuV,AMB,VBG,2022-01-01,1,0,2,,1,...,NaN,0,NaN,NaN,1,2017-09-15,2017-09-15,0,NaN,NaN

(8834, 534)
2338298
Executed in 0 hours, 0 minutes, and 13.64 seconds.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (14,20,32,34,36,38,41,43,45,46,48,50,52,54,56,58,60,62,64,66,68,70,72,84,88,90,92,94,96,98,100,102,104,106,108,114,116,128,133,138,143,148,150,151,152,153,155,159,161,165,167,169,171,175,179,183,187,189,191,193,195,197,199,203,205,209,211,213,215,217,219,221,223,225,227,229,231,233,235,237,239,241,243,245,247,249,251,253,255,257,259,261,263,267,269,271,273,275,279,280,282,283,285,286,288,289,291,292,294,295,297,298,300,301,303,304,318,319,321,322,324,325,327,328,330,331,336,337,339,340,351,352,354,355,357,358,381,382,387,388,390,391,396,397,399,400,405,406,408,409,411,412,414,415,417,418,420,421,423,424,426,427,432,433,438,439,459,460,461,462,470,471,473,474,476,477,479,480,482,483,488,489,491,492,500,501,505,509,511,513,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(669427, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,wAPEB,zQsOgB,AMB,OBESITY,2022-01-01,0,2,2,,3,...,NaN,0,NaN,NaN,1,2004-12-20,2004-12-20,1,2011-06-21,2011-06-21
14,iwyMC,lQok8,AMB,OBESITY,2022-01-01,0,0,0,,2,...,NaN,0,NaN,NaN,1,1999-07-10,1999-07-10,0,NaN,NaN
27,iwYjC,lwUvTD,AMB,OBESITY,2022-01-01,1,0,0,,2,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
28,iwXt,lAsvAO,AMB,OBESITY,2022-01-01,1,0,0,,2,...,NaN,0,NaN,NaN,1,2005-09-14,2005-09-14,0,NaN,NaN
34,iwQnB,lABVkU,AMB,OBESITY,2022-01-01,0,0,0,,2,...,NaN,0,NaN,NaN,1,1996-11-19,1996-11-19,1,2003-08-13,2003-08-13

(141551, 534)
39757659
Executed in 0 hours, 1 minutes, and 45.75 seconds.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (12,14,16,18,20,22,24,26,32,34,36,38,41,43,45,46,48,50,52,54,56,58,60,62,64,66,68,70,72,84,88,90,92,94,96,98,100,102,104,106,108,114,116,128,133,138,143,148,150,151,152,153,155,159,161,165,167,169,171,175,179,183,187,189,191,193,195,197,199,203,205,209,211,213,215,217,219,221,223,225,227,229,231,233,235,239,243,245,247,249,251,253,255,257,259,261,267,269,271,273,275,279,280,282,283,285,286,288,289,291,292,294,295,297,298,300,301,303,304,318,319,321,322,324,325,327,328,330,331,336,337,339,340,342,343,345,346,348,349,351,352,354,355,357,358,381,382,387,388,390,391,393,394,396,397,399,400,402,403,405,406,408,409,411,412,417,418,420,421,423,424,426,427,432,433,438,439,441,442,450,451,459,460,461,462,467,468,470,471,473,474,476,477,482,483,488,489,491,492,497,498,500,501,503,505,509,511,513,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(1294920, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
1,wwlQ,zg#0Q,AMB,PREDISPOSITION,2022-01-01,1,4,2,2022-04,3,...,NaN,1,2013-06-23,2013-06-23,1,2016-06-09,2016-06-09,1,2015-12-28,2015-12-30
2,ww_h,zQ5or,AMB,PREDISPOSITION,2022-01-01,1,2,2,,3,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3,ww4D,zgg#0C,AMB,PREDISPOSITION,2022-01-01,1,2,2,,3,...,NaN,1,2011-08-11,2011-08-11,1,2008-10-13,2008-10-13,0,NaN,NaN
4,ww0EC,zQ22gC,AMB,PREDISPOSITION,2022-01-01,1,2,2,,3,...,NaN,1,2015-09-02,2015-09-02,1,2004-07-14,2004-07-14,0,NaN,NaN
6,wg23B,zQCJNC,AMB,PREDISPOSITION,2022-01-01,0,2,2,,3,...,NaN,0,NaN,NaN,1,2018-10-26,2018-10-26,0,NaN,NaN

(185099, 534)
51368764
Executed in 0 hours, 4 minutes, and 14.71 seconds.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,34,38,41,43,45,46,48,50,52,54,56,58,60,62,64,66,68,70,72,88,90,92,94,96,98,100,102,104,106,108,143,157,163,165,179,183,187,189,191,193,197,199,203,205,211,215,217,219,221,223,225,229,231,235,243,245,247,249,251,253,255,257,267,271,273,275,279,280,288,289,294,295,297,298,300,301,318,319,321,322,324,325,327,328,330,331,336,337,339,340,342,343,345,346,348,349,351,352,354,355,357,358,387,388,396,397,405,406,417,418,423,424,459,460,461,462,473,474,482,483,488,489,491,492,497,498,500,501,509,511,513,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(45252, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ww0EC,zQ22gC,AMB,RESPFAIL,2022-01-01,1,2,2,,3,...,NaN,1,2015-09-02,2015-09-02,1,2004-07-14,2004-07-14,0,NaN,NaN
31,iwtfB,lwwGwT,AMB,RESPFAIL,2022-01-01,0,0,0,2022-01,2,...,NaN,0,NaN,NaN,1,1997-01-14,1997-01-14,1,1995-11-14,1995-11-14
45,iwD7B,lw##yW,AMB,RESPFAIL,2022-01-01,0,0,0,,2,...,NaN,0,NaN,NaN,1,2015-04-15,2015-04-15,0,NaN,NaN
48,iw4XC,lgD1DC,AMB,RESPFAIL,2022-01-01,0,0,0,,2,...,NaN,0,NaN,NaN,1,2018-03-21,2018-03-21,1,2000-05-29,2000-05-29
73,iQBUB,lAByXS,AMB,RESPFAIL,2022-01-01,0,0,0,,2,...,NaN,1,1997-09-28,1997-09-28,1,1997-03-30,1997-03-30,1,2020-06-19,2020-06-19

(6255, 534)
1683812
Executed in 0 hours, 0 minutes, and 15.40 seconds.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (104,165,179,187,197,203,205,215,217,219,223,225,229,235,251,253,257,267,269,271,275,333,334,342,343,348,349,387,388,405,406,461,462,473,474,488,489,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in OP Filter: 20663452
Prefilter:
(5040, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ww0EC,zQ22gC,AMB,VENTSUPPORT,2022-01-01,1,2,2,,3,...,NaN,1,2015-09-02,2015-09-02,1,2004-07-14,2004-07-14,0,NaN,NaN
1,eAN_C,hQ98eC,AMB,VENTSUPPORT,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
7,AxGqB,Dhc5W,AMB,VENTSUPPORT,2022-01-01,0,4,0,,1,...,NaN,0,NaN,NaN,1,2014-05-12,2014-05-12,1,2015-01-24,2015-01-24
12,eAm0,hgk#KB,AMB,VENTSUPPORT,2022-01-02,1,1,0,,0,...,NaN,0,NaN,NaN,1,2017-02-14,2017-02-14,1,2021-07-14,2021-07-14
14,EwmFD,HwEhFG,AMB,VENTSUPPORT,2022-01-02,1,0,2,,0,...,NaN,0,NaN,NaN,1,2017-03-01,2017-03-01,0,NaN,NaN

(1583, 534)
416880
Executed in 0 hours, 0 minutes, and 12.39 seconds.

'\nfor rfs in rfss:\n    print(f"Executing {output_dirs[0]}, {settings[0]}, and {rfs}.")\n    data_check(output_dirs[0], settings[0], rfs)\n'

## Emergency

In [14]:
for rfs in rfss:
    print(f"Executing {output_dirs[1]}, {settings[1]}, and {rfs}.")
    data_check(output_dirs[1], settings[1], rfs)

Executing EMERGENCY, EMER, and ABG.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,88,90,143,159,179,187,191,193,197,199,203,207,211,215,217,219,223,225,229,235,243,247,257,269,273,333,334,339,340,342,343,345,346,348,349,381,382,387,388,390,391,396,397,399,400,405,406,417,418,438,439,461,462,470,471,473,474,476,477,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(17804, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,yw8R,1AAQYB,EMER,ABG,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3,ygD_,1QLQ3B,EMER,ABG,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,xg2wB,0wLdu,EMER,ABG,2022-01-01,0,0,0,,0,...,NaN,1,2019-03-07,2019-03-07,1,2021-07-25,2021-07-25,0,NaN,NaN
5,wwtGC,zg92jC,EMER,ABG,2022-01-01,1,2,2,,3,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
6,wwU7B,zQ96RC,EMER,ABG,2022-01-01,0,4,2,,3,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(15705, 534)
3983001
Executed in 0 hours, 0 minutes, and 9.77 seconds.
Executing EMERGENCY, EMER, and VBG.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,90,128,133,143,148,150,151,152,153,159,161,165,169,171,179,185,187,191,193,197,199,203,205,207,209,211,215,217,219,221,223,225,227,229,235,243,245,249,255,257,267,269,271,273,324,325,327,328,330,331,339,340,342,343,345,346,348,349,387,388,396,397,399,400,405,406,417,418,432,433,438,439,461,462,470,471,473,474,482,483,488,489,491,492,500,501,509,511,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(76465, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ywQ8,1wFq2B,EMER,VBG,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
2,ygD_,1QLQ3B,EMER,VBG,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
6,yAR0,1AaDzB,EMER,VBG,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
10,xg#LC,0Q_q9,EMER,VBG,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
11,xQUR,0QtcSB,EMER,VBG,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(54226, 534)
14256268
Executed in 0 hours, 0 minutes, and 13.94 seconds.
Executing EMERGENCY, EMER, and OBESITY.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (38,41,43,45,54,56,88,90,100,102,104,128,133,138,143,148,150,151,152,153,159,161,165,167,169,171,179,183,185,187,189,193,197,199,203,205,207,209,211,215,217,219,221,223,225,227,229,231,239,243,247,249,251,253,257,267,269,273,275,288,289,294,295,297,298,300,301,324,325,327,328,330,331,336,337,339,340,342,343,345,346,348,349,381,382,387,388,390,391,396,397,399,400,402,403,405,406,408,409,411,412,414,415,417,418,420,421,423,424,432,433,435,436,438,439,461,462,467,468,470,471,473,474,476,477,479,480,482,483,488,489,491,492,500,501,509,511,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(63882, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,yg5ZE,1QzDV,EMER,OBESITY,2022-01-01,0,1,0,2022-02,0,...,NaN,0,NaN,NaN,1,2021-12-20,2021-12-20,0,NaN,NaN
1,xw80,0QB2M,EMER,OBESITY,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3,xg2wB,0wLdu,EMER,OBESITY,2022-01-01,0,0,0,,0,...,NaN,1,2019-03-07,2019-03-07,1,2021-07-25,2021-07-25,0,NaN,NaN
8,sQXOD,vgFBO,EMER,OBESITY,2022-01-01,0,0,0,,0,...,2021-06-02,1,2021-05-21,2021-06-01,1,2015-05-26,2015-05-26,0,NaN,NaN
10,jgso,mgI4MI,EMER,OBESITY,2022-01-01,1,0,0,,1,...,NaN,0,NaN,NaN,1,2018-04-02,2018-04-02,1,2018-09-13,2018-09-13

(31655, 534)
8671397
Executed in 0 hours, 0 minutes, and 12.14 seconds.
Executing EMERGENCY, EMER, and PREDISPOSITION.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,41,43,45,54,56,88,90,100,102,104,128,133,138,143,148,159,161,165,167,169,171,175,179,183,185,187,191,193,195,197,199,203,205,207,211,213,215,217,219,221,223,225,227,229,231,235,239,243,247,249,255,257,267,269,271,273,279,280,300,301,324,325,327,328,330,331,333,334,336,337,339,340,342,343,345,346,348,349,381,382,384,385,387,388,390,391,393,394,396,397,399,400,402,403,405,406,408,409,411,412,417,418,420,421,423,424,426,427,432,433,438,439,461,462,467,468,470,471,473,474,476,477,479,480,482,483,488,489,491,492,500,501,509,511,515) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(174187, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
1,xwRfC,0ACnFB,EMER,PREDISPOSITION,2022-01-01,0,0,0,,0,...,NaN,1,2017-07-18,2017-07-18,1,2017-04-04,2017-04-04,1,2016-12-27,2016-12-27
3,xw3u,0gaAJ,EMER,PREDISPOSITION,2022-01-01,1,0,0,,0,...,2017-05-02,1,2018-11-27,2018-11-27,1,2016-11-29,2016-11-29,0,NaN,NaN
7,xgcl,0g#AD,EMER,PREDISPOSITION,2022-01-01,0,0,0,,0,...,NaN,1,2018-10-05,2018-10-05,1,2018-10-04,2018-10-10,0,NaN,NaN
8,xgaxB,0gq7u,EMER,PREDISPOSITION,2022-01-01,0,0,2,,0,...,NaN,1,2021-10-14,2021-10-14,1,2021-10-13,2021-10-14,0,NaN,NaN
9,xgQGB,0QnyY,EMER,PREDISPOSITION,2022-01-01,0,0,0,,0,...,NaN,1,2019-03-20,2019-03-20,1,2019-04-25,2019-04-25,0,NaN,NaN

(95819, 534)
25863514
Executed in 0 hours, 0 minutes, and 19.28 seconds.
Executing EMERGENCY, EMER, and RESPFAIL.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (54,56,179,187,193,195,197,199,203,207,211,215,217,219,223,225,229,235,243,249,255,257,269,271,273,333,334,339,340,342,343,348,349,387,388,396,397,405,406,417,418,461,462,470,471,473,474,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(20013, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,xg#LC,0Q_q9,EMER,RESPFAIL,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,sweSD,vQeMR,EMER,RESPFAIL,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,1,2021-10-27,2021-10-27,0,NaN,NaN
2,sgZyC,vgAvlI,EMER,RESPFAIL,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,1,2021-12-31,2021-12-31,1,2018-06-18,2018-06-18
4,jwaDG,mQ7v9U,EMER,RESPFAIL,2022-01-01,1,0,0,,1,...,NaN,0,NaN,NaN,1,2018-02-28,2018-02-28,1,2020-08-24,2020-08-24
5,jwB6F,mwVexU,EMER,RESPFAIL,2022-01-01,1,0,0,,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(15819, 534)
4055839
Executed in 0 hours, 0 minutes, and 9.48 seconds.
Executing EMERGENCY, EMER, and VENTSUPPORT.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,179,191,193,195,197,203,207,211,215,219,225,229,235,243,257,269,273,333,334,342,343,387,388,390,391,396,397,399,400,405,406,417,418,461,462,470,471,473,474,488,489,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(14207, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,xg#LC,0Q_q9,EMER,VENTSUPPORT,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,sQXOD,vgFBO,EMER,VENTSUPPORT,2022-01-01,0,0,0,,0,...,2021-06-02,1,2021-05-21,2021-06-01,1,2015-05-26,2015-05-26,0,NaN,NaN
2,jwv5B,mA47PL,EMER,VENTSUPPORT,2022-01-01,0,0,0,2022-04,1,...,NaN,0,NaN,NaN,1,2015-03-18,2015-03-18,0,NaN,NaN
3,jwB6F,mwVexU,EMER,VENTSUPPORT,2022-01-01,1,0,0,,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,hglK,kA4INO,EMER,VENTSUPPORT,2022-01-01,0,0,0,,2,...,NaN,0,NaN,NaN,1,2005-10-08,2005-10-08,1,2021-09-18,2021-09-18

(11555, 534)
2912496
Executed in 0 hours, 0 minutes, and 8.91 seconds.

## Inpatient

In [15]:
for rfs in rfss:
    print(f"Executing {output_dirs[1]}, {settings[1]}, and {rfs}.")
    data_check(output_dirs[2], settings[2], rfs)

Executing EMERGENCY, EMER, and ABG.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (50,52,62,64,108,128,165,175,179,185,187,189,191,193,195,197,199,203,207,211,215,217,219,223,225,229,231,235,243,245,249,255,257,267,269,271,273,306,307,312,313,315,316,333,334,342,343,345,346,348,349,381,382,387,388,390,391,396,397,399,400,402,403,405,406,408,409,417,418,426,427,432,433,438,439,461,462,470,471,473,474,476,477,479,480,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(139388, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ywJS,1gfWYB,INPAT,ABG,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,ywE_,1gOQ3B,INPAT,ABG,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,yw3gC,1ApuqC,INPAT,ABG,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,1,2016-10-26,2016-10-26,0,NaN,NaN
8,ygEdE,1wZRX,INPAT,ABG,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
10,yQmFF,1gEJx,INPAT,ABG,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(117167, 534)
29891177
Executed in 0 hours, 0 minutes, and 19.85 seconds.
Executing EMERGENCY, EMER, and VBG.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,163,165,175,179,187,189,191,193,195,197,199,203,205,207,211,215,217,219,223,225,229,231,235,243,245,249,255,257,269,271,273,306,307,312,313,315,316,333,334,342,343,345,346,348,349,387,388,396,397,399,400,405,406,417,418,426,427,438,439,461,462,470,471,473,474,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(149449, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ywwRC,1QIOeC,INPAT,VBG,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
5,ywX#B,1wR8QC,INPAT,VBG,2022-01-01,0,1,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
9,yw8R,1gAQYB,INPAT,VBG,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
11,ygnG,1wTpPB,INPAT,VBG,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
17,yQJcE,1ggqW,INPAT,VBG,2022-01-01,0,1,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(122768, 534)
31272057
Executed in 0 hours, 0 minutes, and 20.91 seconds.
Executing EMERGENCY, EMER, and OBESITY.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,45,143,179,187,189,191,193,197,203,205,207,211,215,217,219,223,225,229,231,235,243,249,253,255,257,267,269,271,273,312,313,333,334,342,343,345,346,348,349,381,382,384,385,387,388,396,397,399,400,405,406,408,409,417,418,426,427,432,433,438,439,461,462,470,471,473,474,479,480,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(47325, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,xAt1B,0QlWy,INPAT,OBESITY,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,1,2018-03-05,2018-03-10,0,NaN,NaN
1,xAfM,0wWKPB,INPAT,OBESITY,2022-01-01,1,0,0,2022-05,0,...,NaN,1,2019-05-03,2019-05-03,1,2018-12-04,2018-12-04,0,NaN,NaN
2,xA0dC,0genEB,INPAT,OBESITY,2022-01-01,0,0,0,,0,...,NaN,1,2017-06-21,2017-06-21,1,2017-06-20,2017-06-25,0,NaN,NaN
3,wggw,zQCdBB,INPAT,OBESITY,2022-01-01,1,2,2,,3,...,NaN,0,NaN,NaN,1,2021-11-24,2021-11-24,0,NaN,NaN
4,wgCCB,zA0#cB,INPAT,OBESITY,2022-01-01,0,2,2,,3,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(33558, 534)
8827390
Executed in 0 hours, 0 minutes, and 12.25 seconds.
Executing EMERGENCY, EMER, and PREDISPOSITION.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,94,128,143,159,163,165,175,179,187,189,191,193,195,197,199,203,207,211,215,217,219,223,225,229,231,235,243,245,249,255,257,267,269,271,273,306,307,312,313,315,316,333,334,339,340,342,343,345,346,348,349,381,382,387,388,390,391,396,397,399,400,405,406,408,409,417,418,420,421,423,424,426,427,432,433,438,439,461,462,467,468,470,471,473,474,476,477,479,480,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(243409, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
4,yw8R,1gAQYB,INPAT,PREDISPOSITION,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
7,yQmFF,1gEJx,INPAT,PREDISPOSITION,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
12,yQ7QE,1wP9O,INPAT,PREDISPOSITION,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
15,xwtMC,0Alz9,INPAT,PREDISPOSITION,2022-01-01,1,0,2,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
16,xwjHB,0wscZ,INPAT,PREDISPOSITION,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,1,2017-07-12,2017-07-17,0,NaN,NaN

(174260, 534)
45863849
Executed in 0 hours, 0 minutes, and 28.51 seconds.
Executing EMERGENCY, EMER, and RESPFAIL.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (32,163,175,179,187,191,193,195,197,203,207,211,215,217,219,225,229,231,235,243,249,255,257,267,269,271,273,306,307,312,313,315,316,333,334,345,346,348,349,387,388,396,397,399,400,405,406,417,418,426,427,461,462,470,471,473,474,479,480,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(124665, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ywwRC,1QIOeC,INPAT,RESPFAIL,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,yw3gC,1ApuqC,INPAT,RESPFAIL,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,1,2016-10-26,2016-10-26,0,NaN,NaN
2,ygnG,1wTpPB,INPAT,RESPFAIL,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,ygEdE,1wZRX,INPAT,RESPFAIL,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
6,yQmFF,1gEJx,INPAT,RESPFAIL,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(99367, 534)
25254566
Executed in 0 hours, 0 minutes, and 18.81 seconds.
Executing EMERGENCY, EMER, and VENTSUPPORT.

C:\Users\reblo\AppData\Local\Temp\ipykernel_11812\1941947450.py:3: DtypeWarning: Columns (179,187,189,191,193,195,197,203,207,211,215,217,219,225,229,231,235,243,249,255,257,267,269,271,273,306,307,312,313,315,316,333,334,345,346,348,349,387,388,390,391,396,397,399,400,405,406,408,409,417,418,426,427,432,433,461,462,470,471,473,474,482,483,488,489,491,492,500,501,509) have mixed types. Specify dtype option on import or set low_memory=False.
  RFS_ABG_ENC_AMB_BEFORE = pd.read_csv(os.path.join(working_dir[:-1], "output", output_dir, "RFS_"+rfs+"_ENC_"+setting+"_BEFORE.csv"))

Number of Unique Encounters in IP Filter: 12564033
Prefilter:
(98518, 534)

,patient_id,encounter_id,encounter_type,RFS,qualify_date,sex,race,ethnicity,death_year_month,location,...,last_date_OP_Med_3,OP_Med_4,first_date_OP_Med_4,last_date_OP_Med_4,OP_Med_5,first_date_OP_Med_5,last_date_OP_Med_5,OP_Med_6,first_date_OP_Med_6,last_date_OP_Med_6
0,ywJS,1gfWYB,INPAT,VENTSUPPORT,2022-01-01,1,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,ywE_,1gOQ3B,INPAT,VENTSUPPORT,2022-01-01,1,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,yw8R,1gAQYB,INPAT,VENTSUPPORT,2022-01-01,0,0,0,2022-01,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
7,yQmFF,1gEJx,INPAT,VENTSUPPORT,2022-01-01,1,0,1,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
10,yQ1X,1ABNeB,INPAT,VENTSUPPORT,2022-01-01,0,0,0,,0,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

(83330, 534)
20982649
Executed in 0 hours, 0 minutes, and 16.75 seconds.